.frost {
  height: 100vh;
  background-color: #f4faff;
}

.frost div div h1 {
  color: #08090a;
}

.dark {
  height: 100vh;
  background-color: #08090a;
}

.dark div div h1 {
  color: #f4faff;
}

.header {
  max-width: 2400px;
  margin: 0 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-size: 3rem;
  margin: 0;
  padding: 0 3rem;
  color: #08090a;
}

.search {
  display: flex;
  align-items: center;
  height: fit-content;
  flex: 1;
  background-color: #f2f2f8;
  padding: 0.5rem;
  border-radius: 20px;
  border: solid #0dfdb1;
  margin-right: 0.5rem;
}

.search input {
  flex: 1;
  border-radius: 20px;
  padding: 0.25rem 0.5rem;
  margin-left: 0.25rem;
  background-color: #f2f2f8;
  border: none;
}

.search input:focus {
  outline: 0;
}

.notes-list {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 0 3rem;
  height: fit-content;
}

.note {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 280px;
  margin: 1rem 0;
  background-color: #8789c0;
  border-radius: 20px;
  padding: 0 0.75rem;
  border: solid #6c6eb2;
}

.note p {
  white-space: pre-wrap;
}

.new-note {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 280px;
  margin: 1rem 0;
  background-color: #0dfdb1;
  border-radius: 20px;
  padding: 0 0.75rem;
  border: solid #02de99;
}

.new-note textarea {
  resize: none;
  border: none;
  margin: 1rem 0;
  background-color: transparent;
  font-size: 1rem;
}

.new-note div button {
  background-color: #f4faff;
  border-radius: 10px;
  padding: 0.25rem 0.5rem;
  font-size: 1.2rem;
}

.new-note div button:hover {
  background-color: #8789c0;
  color: #f4faff;
}

.new-note textarea:focus {
  outline: 0;
}

.note-footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.note-footer button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.modal {
  background-color: #f4faff;
  border: none;
  border-radius: 20px;
}

.modal form {
  display: flex;
  justify-content: flex-end;
}

.modal form button {
  background-color: #08090a;
  color: #02de99;
  padding: 0.25rem 0.75rem;
  border-radius: 20px;
  font-weight: bold;
}

.modal::backdrop {
  background: rgba(0, 0, 0, 0.3);
}
