body {
  margin: 0;
}

.main-page {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 100px 1fr;
  background-color: #d2bca5;
  height: 100vh;
  width: 100vw;
}

.main-page h1 {
  text-align: start;
  grid-column: span 2;
  background-color: #d2bca5;
  color: #14202a;
  padding-left: 3rem;
  padding-top: 0.75rem;
  max-width: 300px;
  font-size: 3rem;
  text-transform: uppercase;
  margin: 0;
}

.notes-sidebar {
  background-color: #3a4856;
  border-top-right-radius: 25px;
  padding-top: 3rem;
  padding-left: 3rem;
  border-top: solid #9b8771;
  border-right: solid #9b8771;
}

.notes-sidebar button {
  background-color: #14202a;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 0.5rem 0.75rem;
  margin-bottom: 4rem;
}

.notes-sidebar button:hover {
  background-color: #090f13;
}

.not-selected {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.not-selected button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.not-selected button:hover {
  transform: scale(1.1);
}

.not-selected h2 {
  font-size: 2.5rem;
}

.not-selected h3 {
  color: #5b6065;
  font-style: italic;
}

.new-note {
  padding-left: 3rem;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  max-width: 50%;
}

.new-note div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.cancel-button {
  background-color: transparent;
  color: #5b6065;
  font-size: 1rem;
  border: none;
}

.save-button {
  background-color: #14202a;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 0.5rem 0.75rem;
  margin-left: 0.25rem;
}

.save-button:hover {
  background-color: #090f13;
}

.cancel-button:hover {
  color: black;
}

input {
  font-size: 1.25rem;
  background-color: #dddddd;
  border-bottom: solid black;
}

textarea {
  background-color: #dddddd;
  border-bottom: solid black;
}
