body {
  margin: 0;
}

.main-page {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 100px 1fr;
  background-color: #d2bca5;
  height: 100vh;
  width: 100vw;
}

.main-page h1 {
  text-align: start;
  grid-column: span 2;
  background-color: #d2bca5;
  padding-left: 3rem;
  padding-top: 0.75rem;
  max-width: 300px;
  font-size: 3rem;
  text-transform: uppercase;
  margin: 0;
}

.notes-sidebar {
  background-color: #3a4856;
  border-top-right-radius: 25px;
  padding-top: 3rem;
  padding-left: 3rem;
  border-top: solid #9b8771;
  border-right: solid #9b8771;
}

.notes-sidebar button {
  background-color: #14202a;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 0.5rem 0.75rem;
  margin-bottom: 4rem;
}

.notes-sidebar button:hover {
  background-color: #090f13;
}

.not-selected {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.not-selected button {
  background-color: transparent;
  border: none;
  width: 4rem;
  height: 4rem;
}
